<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hb.androidcontrols">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.MainControlsListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Activity Indicator - AV Loading Indicator View-->
        <activity
            android:name=".view.activity.AVLoadingIndicatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AVLoadingIndicatorViewActivity"
            android:screenOrientation="portrait" />

        <!-- Activity Indicator - Spots Progress Dialog-->
        <activity
            android:name=".view.activity.SpotsProgressDialogActivity"
            android:screenOrientation="portrait" />

        <!-- Activity Indicator - Geometric Progress View-->
        <activity
            android:name=".view.activity.GeometricProgressViewActivity"
            android:screenOrientation="portrait" />

        <!-- Progress Bar - Arc Progress Stack View-->
        <activity
            android:name=".view.activity.ArcProgressStackViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ArcProgressStackViewPresentationActivity"
            android:screenOrientation="sensorLandscape" />

        <!-- Progress Bar - Circle Alarm Timer View-->
        <activity
            android:name=".view.activity.CircleAlarmTimerViewActivity"
            android:screenOrientation="portrait" />

        <!-- UITabbar -Navigation TabBar-->
        <activity
            android:name=".view.activity.NavigationTabBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.navigationtabbar.HorizontalCoordinatorNtbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.navigationtabbar.HorizontalNtbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.navigationtabbar.SamplesNtbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.navigationtabbar.TopHorizontalNtbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.navigationtabbar.VerticalNtbActivity"
            android:screenOrientation="portrait" />

        <!-- UITabbar -Smart TabLayout-->
        <activity
            android:name=".view.activity.SmartTabLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.smarttablayout.DemoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.SmartTabLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.smarttablayout.DemoLikeMediumActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.SmartTabLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.smarttablayout.DemoRtlActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.SmartTabLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.smarttablayout.DemoTabWithNotificationMarkActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.SmartTabLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Calender -Huanghaibin CalendarView-->
        <activity android:name=".view.activity.HuanghaibinCalendarViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.meizu.MeiZuActivity" android:screenOrientation="portrait"  />
        <activity android:name=".view.calenderview.index.IndexActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.simple.SimpleActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.colorful.ColorfulActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.solay.SolarActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.single.SingleActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.progress.ProgressActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.custom.CustomActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.pager.ViewPagerActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.calenderview.TestActivity" android:screenOrientation="portrait" />

        <!-- Calender -CosmoCalendar-->
        <activity android:name=".view.activity.CosmoCalendarActivity"
            android:label="Cosmo Calendar"
            android:screenOrientation="portrait" />

        <!-- UITabbar -Folding TabBar-->
        <activity
            android:name=".view.activity.FoldingTabBarActivity"
            android:screenOrientation="portrait" />

        <!-- Tutorial - Paper OnBoarding-->
        <activity
            android:name=".view.activity.PaperOnBoardingActivity"
            android:screenOrientation="portrait" />

        <!-- Empty Screens - LoadSir-->
        <activity
            android:name=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.loadsir.target.NormalActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.loadsir.target.ConvertorActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.loadsir.target.FragmentSingleActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.loadsir.target.ViewTargetActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.loadsir.target.MultiFragmentWithViewPagerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.loadsir.target.MultiFragmentActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.loadsir.target.PlaceholderActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.activity.EmptyScreensLoadSirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Empty Screens - Empty Screen-->
        <activity
            android:name=".view.activity.EmptyViewActivity"
            android:screenOrientation="portrait" />

        <!-- Pull To Refresh - Pull To Make Soup-->
        <activity
            android:name=".view.activity.PullToMakeSoupActivity"
            android:screenOrientation="portrait" />

        <!-- Pull To Refresh - Wave Swipe Refresh-->
        <activity
            android:name=".view.activity.WaveSwipeRefreshActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>